.details {
  border: 1.5px solid grey;
  color: #212121;
  width: 130px;
}

.details:hover {
  color: #212121;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cart,
.cart:focus {
  background-color: #78c2ad;
  color: white;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 900;
  width: 130px;
  padding-top: 9px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cart:hover {
  background-color: white;
  color: #78c2ad;
}

.card {
  width: fit-content;
}

.card-body {
  width: fit-content;
}

.btn {
  border-radius: 4px;
}

.img-thumbnail {
  border: none;
}

.card {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-bottom: 10px;
}

.not-found {
  background: white;
  padding: 2rem 5rem;
  border-radius: 4px;
  color: #888888;
  margin: 0px;
}

@media (max-width: 480px) {
  .remove-px {
    padding: 0 !important;
  }
  .not-found {
    padding: 1.5rem 3rem !important;
  }
}

.card-image-wrapper {
  width: 200px;
  height: 200px;
  display: flex;
}

.card-image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}
